name: Deploy Azure Infrastructure

on:
  push:
    branches: [ "main" ]

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Azure login via OIDC
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    - name: Deploy Bicep (Azure CLI)
      uses: azure/cli@v2
      with:
        azcliversion: 2.57.0
        inlineScript: |
          az deployment group create \
            --resource-group rg-secure-cloud-native-gallery-dev \
            --template-file infra/main.bicep \
            --parameters storageAccountName=filmph${{ github.run_number }}

